.realisation {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.realisation-title {
  font-family: "DREAMS", sans-serif;
  font-size: 8px;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  padding: 5.8% 0;
}

.projet-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.display-projet-card {
  flex: 1 1 23%;
  text-align: center;
  text-decoration: none;
}

.projet-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-projet {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s;
}

.card-projet:hover {
  transform: scale(1.1);
}

.card-projet .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.projet-card .card-title {
  margin-top: 18px;
  margin-bottom: 19px;
  letter-spacing: 3px;
  color: #333;
  font-size: 25px;
}

.projet-card .card-description {
  padding: 5%;
  letter-spacing: 2.5px;
  color: #333;
  font-size: 20px;
}

.skill-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.skill-icon .list-inline-item {
  margin: 10px;
}

.skills-tile {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.skills-tile:hover {
  transform: scale(1.1);
}

.skills-tile i {
  font-size: 250%;
  color: white;
}

.skills-tile p {
  font-size: 70%;
  color: white;
  margin-top: 4px;
  letter-spacing: 3px;
}

@media (max-width: 1100px) {
  .realisation-title {
    padding-top: 8%;
  }

  .projet-card {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 6%;
  }

  .projet-card img {
    width: 100%;
    height: 280px;
  }

  .skills-tile {
    width: 90px;
    height: 90px;
  }

  .skills-tile i {
    font-size: 170%;
  }
  
  .skills-tile p {
    font-size: 60%;
  }
  
  .projet-card .card-description {
    letter-spacing: 2px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .realisation-title {
    font-size: 6px;
    letter-spacing: 5px;
  }

  .projet-card {
    gap: 30px;
    padding: 4%;
    padding-top: 8%;
    padding-bottom: 12%;
  }

  .projet-card img {
    width: 100%;
    height: 180px;
  }

  .projet-card .card-title {
    margin-top: 9px;
    margin-bottom: 9.5px;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-align: center;
  }

  .skills-tile {
    width: 65px;
    height: 65px;
  }

  .skills-tile i {
    font-size: 130%;
  }
  
  .skills-tile p {
    font-size: 20%;
    letter-spacing: 1.5px;
  }
  
  .projet-card .card-description {
    letter-spacing: 1px;
    font-size: 11px;
  }
}
